[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = My system and homelab configs
[access "refs/*"]
	owner = group user/Rajan Maghera (rajanmaghera)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rajan Maghera (rajanmaghera)
	label-Verified = -1..+1 group user/Rajan Maghera (rajanmaghera)
	push = group user/Rajan Maghera (rajanmaghera)
	read = group user/Rajan Maghera (rajanmaghera)
	rebase = group user/Rajan Maghera (rajanmaghera)
	removeReviewer = group user/Rajan Maghera (rajanmaghera)
	submit = group user/Rajan Maghera (rajanmaghera)
[access "refs/heads/*"]
	create = group user/Rajan Maghera (rajanmaghera)
	push = +force group user/Rajan Maghera (rajanmaghera)
	pushMerge = group user/Rajan Maghera (rajanmaghera)
	read = group user/Rajan Maghera (rajanmaghera)
[access "refs/tags/*"]
	push = group user/Rajan Maghera (rajanmaghera)
	push = +force group user/Rajan Maghera (rajanmaghera)
