name: "Nix CI"

on:
  workflow_dispatch:
  pull_request:
    types: [ready_for_review]
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-matrix:
    name: Build ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            output: homeConfigurations.precision.activationPackage
          - os: macos-latest
            output: darwinConfigurations.fruit.system
    
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build System
        run: nix build .#${{ matrix.output }} --accept-flake-config
